body { 
	background-color:#ffff1a;
}

h2, h3 {
	color: black;
}

/*h3, h2 {
   color: white;
   text-shadow:
       0px 0px 0 #AEE5D8,
     0px 0px 0 #AEE5D8,  
      0px 0px 0 #AEE5D8,
      0px 0px 0 #AEE5D8,
       0px 0px 0 #AEE5D8;
}
 */

#enterNick {
  background: #e6e600;
  border-radius: 10px;
}

#headerBar { 
	background-color: #e6e600;
	border-bottom-right-radius: 10px;
}


#textBoxes { 
	background-color: #e6e600;
}

#chatWindow { 
	background-color: #FFFFFF;
	border-radius: 10px;
	border: solid 1.5px #CF8E80;
}

ul li {
background: #ffffff;
}
ul li:nth-child(odd) {
background: #FAF6F6;
}

#usersWindow { 
	background-color: #FFFFFF;
	border-radius: 10px;
	border: solid 1.5px #CF8E80;
}


#roomsWindow { 
	background-color: #FFFFFF;
	border-radius: 10px;
	border: solid 1.5px #CF8E80;
}

#m {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#room {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
