body { 
	overflow: hidden;
	background-color: #eeeeee;
}

#enterNick {
  position: relative;
  background: #dddddd;
  top: 0px;
  padding: 20px;
  border: solid 1px;
  width:300px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#headerBar { 
	background-color: #cccccc;
	padding: 3px;
    height: 50px;
}

#headerUsers {
    margin-top: 6px;

}

#headerRooms {
    margin-top: 6px;

}

#container {
  	padding: 3px;
    position: fixed;
    top: 0px;
    width: 100%
}

#messages {
  list-style: none;
  margin-right:30px;
  overflow-y: scroll;
  width: auto;
  height: 90%;
  max-height: 550px;
  word-wrap: break-word;
}

#users {
  overflow-y: scroll;
  width: auto;
  height: 90%;
  max-height: 550px;
  word-wrap: break-word;
}

#rooms {
  overflow-y: scroll;
  width: auto;
  height: 90%;
  max-height: 550px;
  word-wrap: break-word;
}

#textBoxes {
 	position: fixed;
 	bottom: -32px;
 	width:100%;
}

